<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Contacts.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Tony\Documents\NCIRL\Semester 3\H9TECENT - Enterprise Frameworks\Our-Bloody-Project\Contacts\Contacts\ContactDB.mdf;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>