/****** Object:  Table [dbo].['Wifi Hotspot Locations$']    Script Date: 06/01/2012 11:45:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[''Wifi Hotspot Locations$'']') AND type in (N'U'))
DROP TABLE [dbo].['Wifi Hotspot Locations$']
GO
/****** Object:  Table [dbo].['Wifi Hotspot Locations$']    Script Date: 06/01/2012 11:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[''Wifi Hotspot Locations$'']') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].['Wifi Hotspot Locations$'](
	[OBJECTID] [float] NULL,
	[Shape] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NAME] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ID] [float] NULL,
	[ADDRESS] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CITY] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ZIP] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PHONE] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TYPE] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[URL] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)
END
GO
INSERT [dbo].['Wifi Hotspot Locations$'] ([OBJECTID], [Shape], [NAME], [ID], [ADDRESS], [CITY], [ZIP], [PHONE], [TYPE], [URL]) VALUES (1039, N'(40.70534294500004, -74.01398333599991)', N'11 Broadway', 369, N'11 Broadway', N'New York', N'10004', N'877-353-3377', N'Fee-based', N' ')
INSERT [dbo].['Wifi Hotspot Locations$'] ([OBJECTID], [Shape], [NAME], [ID], [ADDRESS], [CITY], [ZIP], [PHONE], [TYPE], [URL]) VALUES (1, N'(40.84807994600004, -73.93587786099994)', N'111 Wadsworth Ave', 1115, N'111 Wadsworth Ave', N'New York', N'10033', N'212-568-3417', N'Free', N'http://v4.jiwire.com/wi-fi-wireless-hotspot-New-York-New-York-NY-US-111-Wadsworth-Avenue-17B-1284187.htm')
INSERT [dbo].['Wifi Hotspot Locations$'] ([OBJECTID], [Shape], [NAME], [ID], [ADDRESS], [CITY], [ZIP], [PHONE], [TYPE], [URL]) VALUES (1166, N'(40.75922824300005, -73.83114366299992)', N'135 Star Donuts Inc', 1037, N'13541 Roosevelt Ave', N'Flushing', N'11354', N' ', N'Fee-based', N' ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
